/* PHASE 10: Posts */
.posts {
  margin: 20px 0 0 0;
}

.post {
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.post-footer {
  margin: 20px 0 0 0;
}

.post-footer-info {
  float: left;
  color: #999;
  font-size: 14px;
}

.post-thumb {
  float: left;
}

.post-body {
  float: left;
  margin: 0 0 0 20px;
  width: 540px;
}

.post-body > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.post-body > p {
  margin: 0 0 20px 0;
}

.post-footer-info > li {
  float: left;
}